@import 'base.css';
/* Variables should be imported here if used */
@import 'variables.css';

/*Animaciones*/
@import 'animations.css';
/* Base Components (Navbar, Hero, Footer) */
@import 'components/logo.css';
@import 'components/navbar.css';
@import 'components/hero.css';
@import 'components/footer.css';

/* Section-Specific Styles */
@import 'components/sections/logistica.css';
@import 'components/sections/benefits.css';
@import 'components/sections/venta.css';
@import 'components/sections/habitacional.css';
@import 'components/sections/faq.css';
@import 'components/sections/cta.css';

/* Layout */
@import 'layout/structure.css';

/* Add other components as needed */
@import 'components/whatsapp.css';

